apiVersion: v1
kind: Service
metadata:
  name: crypto-market-event-data-service
  labels:
    app: crypto-market-event-data-service
    commit: ${WERCKER_GIT_COMMIT}
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: crypto-market-event-data-service
    commit: ${WERCKER_GIT_COMMIT}
  type: LoadBalancer